.section-components__block-order{
    color: black;
}
.section-components__block-order .block-order__title{
    max-width: 934px;
}
.section-components__block-order .block-order__description{
    max-width: 782px;
}

@media (max-width: 1220px) {
    .section-components__container{
        padding: 0 160px;
        max-width: calc(1595px + 160px * 2);
    }
}
@media (max-width: 835px) {
    .section-components__container{
        padding: 0 calc(clamp(16px, -7.871rem + 34.29vw, 160px) - clamp(48px, -2.48rem + 10.51vw, 128px));
        max-width: calc(1595px + (clamp(16px, -7.871rem + 34.29vw, 160px) - clamp(48px, -2.48rem + 10.51vw, 128px)) * 2);
    }
    .section-components__description br{
        display: none;
    }
    .section-components__block-order .block-order__title{
        max-width: 515px;
    }
    .section-components__block-order .block-order__description{
        max-width: 587px;
    }
}