.slider{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.slider__wrapper{
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
    transition: transform .5s ease;
}
.slider__item{
    flex: 0 0 calc(33.33% - 16px);
    height: auto;
}

.slider-card{
    border: 1px solid var(--secondary-color);
    border-radius: var(--main-radius);
    height: 100%;
}
.slider-card__img-wrapper{
    width: 100%;
    aspect-ratio: 1.79/1;
    border-radius: var(--main-radius);
    overflow: hidden;
}
.slider-card__img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top top;
}
.slider-card__info{
    margin-bottom: auto;
    padding: 24px;
}
.slider-card__title{
    font-size: 24px;
    font-weight: 700;
}
.slider-card__description-list{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.slider-card__description-wrapper{
    display: flex;
    align-items: center;
    gap: 8px;
}
.slider-card__icon{
    flex: 0 0 24px;
    aspect-ratio: 1/1;
}
.slider-card__icon svg{
    width: 100%;
    object-fit: cover;
}
.slider-card__description{
    font-size: 16px;
}

.slider-card-hair{
    border: 1px solid var(--secondary-color);
    border-radius: var(--main-radius);
    height: 100%;
}
.slider-card-hair__img-wrapper{
    width: 100%;
    aspect-ratio: 1.416/1;
    border-radius: var(--main-radius);
    overflow: hidden;
}
.slider-card-hair__img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-card-hair__info{
    margin-bottom: auto;
    padding: 24px;
}
.slider-card-hair__title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}
.slider-card-hair__title-name{
    margin-right: 16px;
}
.slider-card-hair__subtitle{
    font-size: 16px;
    font-weight: 700;
    color: var(--main-color--dark);
    margin-bottom: 16px;
}
.slider-card-hair__description{
    font-size: 16px;
}
.slider__button{
    width: 40px;
    height: 40px;
    background-color: #377D3C;
    opacity: .7;
    border-radius: 50%;
    position: absolute;
    top: 144px;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .5s ease;
}
.slider__button:hover{
    opacity: 1;
}
.slider__button_prev{
    left: 0;
}
.slider__button_next{
    right: 0;
}
.slider__pagination{
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.slider__pagination-item{
    flex: 0 0 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #377D3C;
    cursor: pointer;
    transition: background-color .5s ease;
}
.slider__pagination-item_active{
    background-color: #377D3C;
}

@media (max-width: 1200px) {
    .slider__item{
        flex: 0 0 calc(50% - 24px);
    }
}
@media (max-width: 900px) {
    .slider__item{
        flex: 0 0 calc(70%);
    }
}
@media (max-width: 700px) {
    .slider__item{
        flex: 0 0 calc(100%);
    }
}
@media (max-width: 834px) {
    .slider-card__title, .slider-card-hair__title{
        font-size: clamp(18px, 0.755rem + 1.43vw, 24px);
    }
    .slider-card__img-wrapper, .slider-card__img-wrapper img{
        aspect-ratio: auto;
        height: 288px;
    }
    .slider-card-hair__img-wrapper, .slider-card-hair__img-wrapper img{
        aspect-ratio: auto;
        height: 365px;
    }
}